<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.2" xmlns="http://xmlns.jcp.org/xml/ns/persistence">
    <persistence-unit name="TaskTide" transaction-type="RESOURCE_LOCAL">
        <provider>org.hibernate.jpa.HibernatePersistenceProvider</provider>
        <class>org.tasktide.core.model.workitem.WorkItem</class>
        <class>org.tasktide.core.model.collection.Step</class>
        <class>org.tasktide.core.model.collection.Workflow</class>
        <class>org.tasktide.core.model.job_env.metrics.MetricData</class>
        <class>org.tasktide.core.model.job_env.metrics.MetricProfile</class>
        <class>org.tasktide.core.model.job_env.JobEnvironment</class>
    </persistence-unit>
</persistence>